.custom-nav {
	background-color: #c80000;
	margin-bottom: 10px;
}

.custom-nav a,
.custom-nav a:visited {
  color: white;
}

.custom-nav a:focus,
.custom-nav a:hover,
.custom-nav a:active {
  color: #eaeaea;
}

.custom-nav .nav > li > a:focus,
.custom-nav .nav > li > a:hover,
.custom-nav .nav > li > a:active {
  background-color: transparent;
}

.navbar-nav {
  margin: 4px 0;
}

.nc-tile {
	
}
